@mixin flexCenter($direction, $background) {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
  background: $background;
}

header {
  @include flexCenter(column, purple);
  height: 100vh;
  button {
    background: $primaryBtn;
    color: $white;
    &:hover {
      background: red;
    }
  }
}
